/* SignupLogin.css or your preferred CSS file */
.signup-login {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to right,#f5ac82,#a11afe);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .signup-login>h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    padding: 0px;
    background-image: none;
    margin-left: 0px;
    padding: 0%;
    width: auto;
    height: auto;
  }
  
  .form-group {
    margin-bottom: 20px;
    
  }
  
  .form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
  }
  
  .form-group button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
  
  .toggle-form {
    text-align: center;
  }
  
  .toggle-form button {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
  }
  
  .toggle-form button:hover {
    text-decoration: none;
  }
  .button1{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f5ac82;
  }
  .button2{
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-left: 8px;
    background-color: #f5ac82;
  }
  .loginheading{
    background-color: inherit;
    font-size: inherit;
  }